<a href="https://colab.research.google.com/github/Chae-ii/Py1/blob/master/%EC%9E%91%EC%97%85%ED%98%952.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. 서비스 이탈예측 데이터

In [39]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")

                         0          1          2          3          4
CustomerId        15799217   15748986   15722004   15780966   15636731
Surname           Zetticci    Bischof     Hsiung  Pritchard      Ts'ai
CreditScore            791        705        543        709        714
Geography          Germany    Germany     France     France    Germany
Gender              Female       Male     Female     Female     Female
Age                     35         42         31         32         36
Tenure                   7          8          4          2          1
Balance            52436.2  166685.92  138317.94        0.0  101609.01
NumOfProducts            1          2          1          2          2
HasCrCard                1          1          0          0          1
IsActiveMember           0          1          0          0          1
EstimatedSalary  161051.75   55313.51   61843.73  109681.29     447.73

                   0         1         2         3         4
CustomerId  15799217  15748986  15722004  15780966  15636731
Exited             0         0         0         0         0

# 01. EDA

In [48]:
# 데이터 샘플 확인
display(x_train.head().T)
display(y_train.head().T)

                         0          1          2          3          4
CustomerId        15799217   15748986   15722004   15780966   15636731
Surname           Zetticci    Bischof     Hsiung  Pritchard      Ts'ai
CreditScore            791        705        543        709        714
Geography          Germany    Germany     France     France    Germany
Gender              Female       Male     Female     Female     Female
Age                     35         42         31         32         36
Tenure                   7          8          4          2          1
Balance            52436.2  166685.92  138317.94        0.0  101609.01
NumOfProducts            1          2          1          2          2
HasCrCard                1          1          0          0          1
IsActiveMember           0          1          0          0          1
EstimatedSalary  161051.75   55313.51   61843.73  109681.29     447.73

                   0         1         2         3         4
CustomerId  15799217  15748986  15722004  15780966  15636731
Exited             0         0         0         0         0

In [33]:
# 데이터 타입 & 기초 통계
display(x_train.info())
display(x_train.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB

None

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,6.499000e+03,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000
mean,1.569157e+07,650.396830,38.957070,5.041545,76836.581068,1.519772,0.708878,0.514387,100346.564524
std,7.187584e+04,96.618957,10.502803,2.891779,62407.570894,0.578975,0.454314,0.499831,57944.655305
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000
25%,1.562949e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50907.565000
50%,1.569181e+07,651.000000,37.000000,5.000000,97560.160000,1.000000,1.000000,1.000000,100496.840000
75%,1.575358e+07,718.000000,44.000000,8.000000,127844.690000,2.000000,1.000000,1.000000,150480.155000
max,1.581566e+07,850.000000,92.000000,10.000000,238387.560000,4.000000,1.000000,1.000000,199970.740000

In [35]:
# 결측치
display(x_train.isnull().sum())
display(x_test.isnull().sum())

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

# 02. 데이터 전처리

In [36]:
# 결측치 처리

In [37]:
# 이상치 처리

In [49]:
# Drop - ID
drop_col = ['CustomerId','Surname']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)
y = y_train['Exited']

# 03. 피처 엔지니어링

In [19]:
from sklearn.model_selection import train_test_split

In [44]:
# 범주형 변수 - Encoding

x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)
x_test_dum = x_test_dum[x_train_dum.columns] # train-test col순서 정렬

In [42]:
# 수치형 변수 - Scaling

# 04. Modeling

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , f1_score, recall_score, roc_auc_score ,precision_score

In [51]:
# 데이터 분리 : 학습용 - 검증용
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dum, y, test_size=0.3, random_state=42)

In [52]:
# 학습
rf = RandomForestClassifier(random_state =23)
rf.fit(X_train,Y_train)

RandomForestClassifier(random_state=23)

In [59]:
# 검증 - accuracy , f1_score , recall , precision -> model.predict로 결과뽑기

predict_validation_label = rf.predict(X_validation)

print(accuracy_score(Y_validation,predict_validation_label))
print(f1_score(Y_validation,predict_validation_label))
print(recall_score(Y_validation,predict_validation_label))
print(precision_score(Y_validation,predict_validation_label))

0.8646153846153846
0.5875
0.44655581947743467
0.8584474885844748

In [58]:
# 검증 - auc , 확률 -> model.predict_proba()[:,1]

predict_validation_prob = rf.predict_proba(X_validation)[:,1]
print(roc_auc_score(Y_validation,predict_validation_prob))

0.8469479221200884

In [64]:
# 예측

pred = rf.predict(x_test_dum)
output = pd.DataFrame({'idx': x_test_dum.index, 'Outcome': pred})
output.head()

   idx  Outcome
0    0        1
1    1        1
2    2        0
3    3        0
4    4        0

In [65]:
# 제출

output.to_csv('1234567.csv', index=False)